/* Style for the body element */
body{
    background-color: black; /* Set the background color to black */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Style for the navigation bar */
.navBar{
    background: linear-gradient(black, #1DB954); /* Gradient background from black to green */
    width: 500px; /* Set the width of the nav bar */
    position: sticky; /* Make the nav bar sticky */
    margin: 0 auto; /* Center the nav bar */
    top: 0; /* Position the nav bar at the top */
    left: 0; /* Position the nav bar on the left */
    display: flex; /* Use flexbox for layout */
    justify-content: space-evenly; /* Distribute space evenly among items */
    align-items: center; /* Align items to the center vertically */
    border-radius: 25px; /* Round the corners */
}

/* Style for the navigation bar links */
.navBarLink{
    color: white; /* Set the text color to white */
    text-decoration: none; /* Remove underline */
}

/* Hover effect for the navigation bar links */
.navBarLink:hover{
    color: #1DB954; /* Change text color to green */
    text-decoration: underline; /* Add underline */
}

/* Style for the profile picture section */
.profilePic{
    width: 50%; /* Set the width to 50% of the parent element */
    height: auto; /* Maintain aspect ratio */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    margin: 50px auto; /* Add top and bottom margin, and center horizontally */
}

/* Style for the profile picture image */
.profilePic img{
    width: 500px; /* Set the width to 500px */
    height: auto; /* Maintain aspect ratio */
    border: 2px solid #1DB954; /* Add a green border */
    box-shadow: 0 0 5px #1DB954, 0 0 25px #1DB954; /* Add green shadow */
    margin: 50px 400px; /* Add top/bottom margin and left/right margin */
    border-radius: 5em; /* Round the corners */
    transition: 0.5s ease; /* Smooth transition for hover effect */
}

/* Style for the About section */
.About{
    color: whitesmoke; /* Set the text color to whitesmoke */
    padding: 10px; /* Add padding */
}

/* Style for the About section heading */
.About h1{
    font-size: 40px; /* Set the font size */
    text-decoration: underline; /* Underline the text */
}

/* Style for the headers within the About section */
#headers{
    font-size: 30px; /* Set the font size */
}

/* Style for the paragraphs within the About section */
.About p{
    font-size: 20px; /* Set the font size */
}
